<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="bartender_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="XL_430_base_Revolute-29">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['XL_430_base_Revolute-29']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="XL_430_shoulder_Revolute-30">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['XL_430_shoulder_Revolute-30']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="XL_430_upper_Revolute-31">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['XL_430_upper_Revolute-31']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="XL_430_lower_Revolute-32">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['XL_430_lower_Revolute-32']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
