# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - arm_controller

  arm_controller:
    type: FollowJointTrajectory
    joints:
      - XL_430_base_Revolute-29
      - XL_430_shoulder_Revolute-30
      - XL_430_upper_Revolute-31
      - XL_430_lower_Revolute-32