# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - XL_430_base_Revolute-29
      - XL_430_shoulder_Revolute-30
      - XL_430_upper_Revolute-31
      - XL_430_lower_Revolute-32
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity