<?xml version="1.0" ?>
<robot name="bartender_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<transmission name="revolute_2_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_2">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_2_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_8_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_8">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_8_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_15_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_15">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_15_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_19_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_19">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_19_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_25_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_25">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_25_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_50_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_50">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_50_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_51_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_51">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_51_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_53_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_53">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_53_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_62_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_62">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_62_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_65_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_65">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_65_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_67_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_67">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_67_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="revolute_70_tran">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="revolute_70">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="revolute_70_actr">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

</robot>
